<head>
  <div class="navbar padding-lr">
    <span class="navbar-toggle navbar-open">
      <i class="fa-solid fa-bars"></i>
    </span>
    <span class="navbar-toggle navbar-close">
      <i class="fa-solid fa-xmark"></i>
    </span>
    <div class="logo">
      <a href="/">
        <img src="img/logo.png" alt="LOGO" class="nav-logo" />
      </a>
    </div>
    <nav class="menu" id="navnarMenu">
      <ul class="list-menu">
        <li>
          <a href="#feature" class="menu-link">Features</a>
        </li>
        <li>
          <a href="" class="menu-link">About</a>
        </li>
        <li>
          <a href="" class="menu-link">Pricing</a>
        </li>
        <li>
          <a href="#reviews" class="menu-link">Reviews</a>
        </li>
        <li>
          <a href="#contact" class="menu-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</head>