<form method>
    <div class="mt-3">
        <label for="search" class="form-label">Search</label>
        <input type="text" class="form-control" id="search" name="key"
            placeholder="Enter search....">
    </div>
    <div class="mt-3">
        <button>Search</button>
    </div>
</form>